<a href="/admin/logout">Déconnexion</a>
<a href="/admin/editlist">Liste chambres</a>
<a href="/admin/add">Ajouter chambre</a>
{% if session.admin == 'admin' %}
    <a href="/admin/addAdmin">Ajouter un nouvel administrateur</a>
{% endif %}
<a href="/admin/editlistPrice">Liste des prix</a>
<a href="/admin/editlistTheme">Liste des thèmes</a>
<a href="/admin/editlistView">Liste des vues</a>