{% extends 'layout.html.twig' %}

    {% block content %}
        <div class="container-fluid">
            <h1>Ajouter une nouvelle chambre</h1>
            {% include 'Admin/_addForm.html.twig' %}
        </div>
    {% endblock %}

