{% extends 'layout.html.twig' %}

{% block navigation %}
    {% include 'Admin/_navigationAdmin.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Ajouter une vue : </h1>
    {% if get.message is defined %}
        <div class="alert alert-primary" role="alert">
            {{ get.message }}
        </div>
    {% endif %}
    {% include 'Admin/_addViewForm.html.twig' %}
{% endblock %}

{% block footer %}
{% endblock %}