{% extends 'layout.html.twig' %}

{% block navigation %}
    {% include 'Admin/_navigationAdmin.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Liste des chambres à éditer</h1>
    {% if get.message is defined %}
        <div class="alert alert-primary" role="alert">
            {{ get.message }}
        </div>
    {% endif %}
    <section>
    {% for room in roomList %}
        <div class="card">
            <div class="card-body">
                <a href="/admin/edit/{{ room.id }}">{{ room.name }}</a><br>
                <a href="/admin/edit/{{ room.id }}" class="btn btn-primary float-right">&Eacute;diter</a><br>
            </div>
        </div>
    {% endfor %}
    </section>
{% endblock %}

{% block footer %}
{% endblock %}