{% extends 'layout.html.twig' %}

{% block navigation %}
    <a href="/admin/logout">Déconnexion</a>
    <a href="/admin/editlist">Liste chambres</a>
    <a href="/admin/add">Ajouter chambre</a>
    {% if session.admin == 'admin' %}
        <a href="/admin/addAdmin">Ajouter un nouvel administrateur</a>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Liste des chambres à éditer</h1>
    {% if get.message is defined %}
        <div class="alert alert-primary" role="alert">
            {{ get.message }}
        </div>
    {% endif %}
    <p>
    {% for room in roomList %}
        <a href="/admin/edit/{{ room.id }}">{{ room.name }}</a><br>
    {% endfor %}
    </p>
{% endblock %}

{% block footer %}
{% endblock %}