<div class="row m-2">

    <div class="col d-flex justify-content-center align-items-center">
        <form method="post" action="/room/search">
            <div class="form-group">
                <label for="roomName" class="darksand p-2 rounded-pill" >Nom de la chambre</label>
                <input class="form-control" id="roomName" type="text" name="roomName" >
            </div>
            <button type="submit" class="btn darkblue-bg">Rechercher une chambre</button>
        </form>
    </div>

    <div class="col d-flex justify-content-center">
        <form method="post" action="/room/search">
            <div class="form-group">
                <label for="priceSelect" class="darksand p-2 rounded-pill">Catégorie de prix</label>
                <select class="form-control" id="priceSelect" name="priceId">
                    <option value="0">Choisissez une catégorie de prix</option>
                    {% for price in prices %}
                        <option value="{{ price.id }}">{{ price.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="bedSelect" class="darksand p-2 rounded-pill">Nombre de lits minimum</label>
                <select class="form-control" id="bedSelect" name="bed">
                    <option value="0">Choisissez un nombre minimum de lits</option>
                    {% for bed in 1 .. maxBed %}
                        <option value="{{ bed }}">{{ bed }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn align-self-center darkblue-bg">Rechercher</button>
        </form>
    </div>

</div>