{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container pt-5 px-5 pb-3">
        {% include 'Room/_form-search.html.twig' %}
        <h3 class="m-5">Aucune chambre ne correspond à vos critères de recherche</h3>
    </div>
{% endblock %}
