<div class="card" style="width: 18rem;">
    <img src="{{ room.picture }}" class="card-img-top" alt="image d'une chambre">
    <div class="card-body">
        <h5 class="card-title">{{ room.name }}</h5>
        <a href="" class="btn btn-primary">Voir en détail</a>
    </div>
</div>