<footer class="container-fluid bg-secondary text-white">
    <div class="row d-flex justify-content-around">
        <div class="col-sm">
            <p>Hôtel Boldiode </p>
            <p>3 rue des Pecheurs - 56170 Quiberon</p>
            <p>Tel. 02 77 77 77 77</p>
            <iframe src="https://tinyurl.com/yycnft9s" width="250" height="250" frameborder="0" style="border:0;" ></iframe>
        </div>
        <div class="col-sm">
            <p>Nous contacter</p>
            <form action="" method="post">
                <div class="form-group">
                    <label for="name" >Name :</label>
                    <input type="text" class="form-control" id="name" name="name" required >
                </div>
                <div class="form-group">
                    <label for="subject" >Subject :</label>
                    <input type="text" class="form-control" id="subject" name="subject" required >
                </div>
                <div class="form-group">
                    <label for="phone" >French Phone Number :</label>
                    <input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}"required >
                </div>
                <div class="form-group">
                    <label for="email" >Email :</label>
                    <input type="email" class="form-control" id="email" name="email" >
                </div>
                <div class="form-group">
                    <label for="content" >Message :</label>
                    <textarea name="content" class="form-control" id="content" rows="3" required></textarea>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">Send</button>
                </div>
            </form>
        </div>
        <div class="col-sm">
            <ul class="list-group bg-secondary text-white">
                <li class="list-group-item bg-secondary text-white"><a href="#" title="home">Home </a></li>
                <li class="list-group-item bg-secondary text-white"><a href="#" title="chambres">Nos chambres</a></li>
                <li class="list-group-item bg-secondary text-white"><a href="#" title="hotel">Notre hôtel</a></li>
                <li class="list-group-item bg-secondary text-white"><a href="#" title="stay"> Votre sejour</a></li>
                <li class="list-group-item bg-secondary text-white"><a href="#" title="contact">Contact</a></li>
                <li class="list-group-item bg-secondary text-white"><a href="#" title="legal_mentions">Mentions légales</a></li>
            </ul>
            <ul class="list-group bg-secondary text-white">
                <li class="list-group-item bg-secondary text-white">Réseaux sociaux</a></li>
                <li class="list-group-item bg-secondary text-white"><a href="https://www.instagram.com/" title="instagram">Instagram</a></li>
                <li class="list-group-item bg-secondary text-white"><a href="https://www.facebook.com/#" title="facebook">Facebook</a></li>
                <li class="list-group-item bg-secondary text-white"><a href="https://twitter.com" title="twitter">Twitter</a></li>
            </ul>
        </div>
    </div>
</footer>

