<div>
    <nav class="navbar navbar-expand-lg navbar-light darkblue-bg">
        <a class="navbar-brand darksand" href="/">Boldiode</a>
        <button class="navbar-toggler grey" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav custom-list">
                <li class="nav-item grey">
                    <a class="nav-link" href="/room/show">Voir Chambres</a>
                </li>
                <li class="nav-item grey">
                    <a class="nav-link" href="/History/index">Histoire de l'hôtel</a>
                </li>
                <li class="nav-item grey">
                    <a class="nav-link" href="/Contact/sendMail">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>