{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <h1 class="text-center">Contactez-nous</h1>
        <h3 class="text-center"> Nous reviendrons vers vous au plus vite</h3>
        <br>
        <h2> Nous trouver</h2>
        <iframe src="https://tinyurl.com/yycnft9s" width="90%" height="400" frameborder="0" style="border:0;" ></iframe>
        <br>
        <h2>Nous contacter</h2>
        {% include "Home/_formfooter.html.twig" %}
        <br>
    </div>
{% endblock %}