{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Page Contact - Bol d'Iode</h1>
    <h2> Nous trouver</h2>
    <iframe src="https://tinyurl.com/yycnft9s" width="100%" height="400" frameborder="0" style="border:0;" ></iframe>
    <br>
    <h2>Nous contacter</h2>
    {% include "Home/_formfooter.html.twig" %}
    <br>



{% endblock %}