{% extends 'layout.html.twig' %}

{% block content %}
    {% if get.message is defined %}
        <div class="alert alert-primary" role="alert">
            {{ get.message }}
        </div>
    {% endif %}
    <style type="text/css">
        .text-center {
        }
    </style>

    <div class="container-fluid card mb-3 searchIndex p-5">
        {% include 'Room/_form-search.html.twig' %}
    </div>

    <h2 class="text-center">Découvrez ces chambres incroyables !</h2>
    <div class="d-flex align-items-center flex-column flex-md-row justify-content-md-around">
        {% for room in rooms %}
            {% include "Home/_card-index.html.twig" %}
        {% endfor %}
    </div>

    <div class="container-fluid my-5">
        <div class="row">
            <div class="col-lg-5 col-sm-12">
                <p>
                    <img src="https://www.prideofbritainhotels.com/wp-content/uploads/2016/01/bailiffscourt-hotel-exterior-hsh-bc03_287-1920.jpg"
                         class="img-fluid" alt="vue extérieure hôtel">
                </p>
            </div>
            <div class="col-lg-7 col-sm-12">
                <h2 class="text-center py-3">Notre histoire</h2>
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad at aut autem consectetur deleniti, ducimus eos excepturi labore molestiae nisi odio, perspiciatis quia quod quos similique, tempora veritatis voluptas?</span>
                    <span>Beatae consequuntur corporis deserunt eum ex, illo reiciendis reprehenderit veniam? Accusamus ad animi cupiditate, debitis dolore doloribus dolorum, earum error eum fugit ipsam optio quisquam quos ratione rerum sint voluptatum?</span>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad at aut autem consectetur deleniti, ducimus eos excepturi labore molestiae nisi odio, perspiciatis quia quod quos similique, tempora veritatis voluptas?</span>
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid card mb-3">
        <a href="#">
            <img alt="..." class="card-img" src="https://via.placeholder.com/1000x250.png">
            <div class="card-img-overlay d-flex flex-column align-items-center">
                <h2 class="text-center my-auto text-body">Nos chambres</h2>
            </div>
        </a>
    </div>
{% endblock %}
