{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Index</h1>
    <a href="/room/show">Voir les chambres</a>
    <br>
    <a href="/room/add">Ajouter une chambre</a>
    <br>
    <a href="/room/edit">Editer une chambre</a>
{% endblock %}
