{% extends 'layout.html.twig' %}

{% block content %}
        <div class="container-fluide card mb-3">
            <img src="https://via.placeholder.com/1000x250.png" class="card-img-top" alt="...">
        </div>
    <h1>Index</h1>
    <a href="/room/show">Voir les chambres</a>
    <br>
    <a href="/room/add">Ajouter une chambre</a>
    <br>
    <a href="/room/editList">Editer une chambre</a>
{% endblock %}
