.fa-instagram, .fa-facebook, .fa-twitter {
    color: aliceblue;
}

.darkblue-bg {
    background-color: #2e5266;
    color: aliceblue;
}

/* FOOTER */
.footerContainer {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
}