{% extends "layout.html.twig" %}

{% block content %}
    <div class="container-fluid mt-5 pt-5">
        <h2 class="text-center mb-5">Notre histoire</h2>
        <div class="row">
            <div class="col-lg-5 col-sm-12">
                <p>
                    <img src="https://www.prideofbritainhotels.com/wp-content/uploads/2016/01/bailiffscourt-hotel-exterior-hsh-bc03_287-1920.jpg"
                         class="img-fluid" alt="vue extérieure hôtel">
                </p>
            </div>
            <div class="col-lg-7 col-sm-12">
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad at aut autem consectetur deleniti, ducimus eos excepturi labore molestiae nisi odio, perspiciatis quia quod quos similique, tempora veritatis voluptas?</span>
                    <span>Beatae consequuntur corporis deserunt eum ex, illo reiciendis reprehenderit veniam? Accusamus ad animi cupiditate, debitis dolore doloribus dolorum, earum error eum fugit ipsam optio quisquam quos ratione rerum sint voluptatum?</span>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad at aut autem consectetur deleniti, ducimus eos excepturi labore molestiae nisi odio, perspiciatis quia quod quos similique, tempora veritatis voluptas?</span>
                    <span>Beatae consequuntur corporis deserunt eum ex, illo reiciendis reprehenderit veniam? Accusamus ad animi cupiditate, debitis dolore doloribus dolorum, earum error eum fugit ipsam optio quisquam quos ratione rerum sint voluptatum?</span>
                </p>
            </div>
        </div>
        <div class="row d-flex flex-sm-row-reverse">
            <div class="col-lg-5 col-sm-12">
                <p>
                    <img src="https://www.weekend-esprithautsdefrance.com/sites/picardiev3/files/Coucher-de-soleil-romantique-au-Cap-Gris-Nez-3.jpg"
                         class="img-fluid" alt="vue extérieure hôtel">
                </p>
            </div>
            <div class="col-lg-7 col-sm-12">
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad at aut autem consectetur deleniti, ducimus eos excepturi labore molestiae nisi odio, perspiciatis quia quod quos similique, tempora veritatis voluptas?</span>
                    <span>Beatae consequuntur corporis deserunt eum ex, illo reiciendis reprehenderit veniam? Accusamus ad animi cupiditate, debitis dolore doloribus dolorum, earum error eum fugit ipsam optio quisquam quos ratione rerum sint voluptatum?</span>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad at aut autem consectetur deleniti, ducimus eos excepturi labore molestiae nisi odio, perspiciatis quia quod quos similique, tempora veritatis voluptas?</span>
                    <span>Beatae consequuntur corporis deserunt eum ex, illo reiciendis reprehenderit veniam? Accusamus ad animi cupiditate, debitis dolore doloribus dolorum, earum error eum fugit ipsam optio quisquam quos ratione rerum sint voluptatum?</span>
                </p>
            </div>
        </div>
    </div>


{% endblock %}